@import url("http://fonts.googleapis.com/css?family=Lato");


inputArea, textarea {
  display: block;
  clear: both;
  width: 450px;
  margin-bottom: 10px;
  padding: 15px 10px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #aabdd1;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: solid #aabdd1 1px;
}
inputArea
{
    margin-left: 10px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #476481;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #476481;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #476481;
}
input:hover, textarea:hover {
  background-color: transparent;
  color: #3e5771;
  border: solid #aabdd1 1px;
}
input:focus, textarea:focus {
  background-color: transparent;
  color: #507192;
  border: solid #aabdd1 1px;
}

textarea {
  height: 150px;
}
